/* global variables */
:root {
    --blue-color: #007fff;
    --blue-alt-color: #0d69d5;
    --transparent-color: rgb(0 127 255 /70%);
    --section-padding: 15px;
}


/* global rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* end global rules */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10%;
    padding: 30px 0 5px;
    flex-direction: row-reverse;
}

.main {
    WIDTH: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
}

.main h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

.main>p {
    font-size: 16px;
    color: #525252;
}

.main form input {
    width: 100%;
    height: 52px;
    background-color: #f2f0fd;
    outline: none;
    border: none;
    border-radius: 16px;
    margin-bottom: -20px;
    padding: 0 30px;
}

.main form input::placeholder {
    color: #1C1C1C;
}

/* 
.main form input::before {
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #525252;
    font-size: 10px;
} */
.main form i {
    position: relative;
    top: 38px;
    left: 10px;
    color: #1C1C1C;
}

.main form button {
    padding: 15px 20px;
    border: none;
    border-radius: 16px;
    background: linear-gradient(to right, var(--blue-color), var(--blue-alt-color));
    margin: 30px auto;
    color: white;
    font-weight: 600;
    display: block;
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 30%);
    transition: 0.3s;
}

.main form button:hover {
    transform: translateX(-5px);
}
.main .others {
    width: 100%;
    text-align: center;
}
.main .others h3 {
    color: #525252;
    margin: 10px 0;
    position: relative;
    font-size: 23px;
}

.main .others h3:before,
.main .others h3:after {
    content: '';
    position: absolute;
    width: 110px;
    height: 1px;
    top: 15px;
    background-color: #F0EDFF;
}

.main .others h3:before {
    right: 315px;
}

.main .others h3:after {
    left: 315px;
}

.main .others h3 span {
    color: #1C1C1C;
    font-weight: bold;
}

.main .others p {
    /* border: 1px solid #F0EDFF;
    border-radius: 16px; */
    padding: 10px 30px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
    margin: 0 auto;
}
.main .others p.google {
    border-bottom: 1px solid #F0EDFF;
}
.main .others p img {
    width: 20px;
    margin-right: 10px;
}

.additional {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
}

.additional h3 {
    width: 150px;
    font-size: 25px;
    color: white;
    font-weight: 600;
    line-height:1cm;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.additional .img {
    width: 80%;
    float: right;
    position: relative;
    margin-bottom: -20px;
}
.additional .img::after {
    content: '';
    position: absolute;
    top: -42px;
    left: -25px;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 127, 255, 70%);
    border-radius: 50%;
    z-index: -2;
}

.additional .img img {
    max-width: 90%;
}

@media (max-width:992px) {
    .additional {
        display: none;
    }
    .main {
        width: 100%;
    }
}